/*
Author : Muhammad Rifki
Type : CSS
*/

body {
position: absolute;
width: 1440px;
height: 38px;
left: 0px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-align: center;

}

.card-container{
	width: 287px;
height: 345px;
top: 120px;
}